/** @format */

.shell {
  min-height: 100% !important;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  word-wrap: break-word; /* Firefox support */
  background-color: var(--background);

  main {
    flex-grow: 1 !important;
  }

  footer {
    flex-shrink: 0 !important;
    margin-top: auto;
  }
}
.mainContent {
  flex-grow: 1 !important;
  height: 100vh;
  margin-bottom: 300px;
}
