/** @format */

header {
  height: var(--header-height) !important;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  width: 100%;
  background-color: var(--header-background);
  position: sticky;
  top: 0;
}

#header-logo {
  fill: var(--font-color);
}
