/** @format */

@import '@arcane-web/alchemy/lib/base/breakpoint';

header {
  height: 88px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--header-background);
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.2s;
  transition: height 0.2s;

  @include breakpoint(medium) {
    height: 136px;
  }

  div > img {
    transition: all 0.2s;
    width: 174px;
    height: 30px;
  }
}

.header {
  height: 88px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--header-background);
}

.sticky {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  div > img {
    width: 141px;
    height: 24px;
  }
}

.scroll-height {
  height: 88px !important;
  @include breakpoint(medium) {
    height: 88px;
  }
}

.auth-fixed-width {
  width: 120px !important;
  display: flex;
  flex-direction: row-reverse;
}
