/** @format */
@import '@arcane-web/alchemy/lib/base/breakpoint';
@import '@arcane-web/alchemy/lib/base/space';

footer {
  background-color: var(--footer-background);
  color: var(--footer-color);
  flex: 0;
  & svg {
    filter: invert(1);
    fill: var(--footer-color);
  }
}

.main-footer {
  padding: 80px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include breakpoint(medium) {
    flex-direction: row;
    justify-content: space-between !important;
  }

  .icon {
    align-self: flex-start;
    @include breakpoint(small) {
      align-self: center;
      padding-bottom: 40px;
    }
  }
}

.footer-navigation {
  display: flex;
  flex-direction: row;
  @include breakpoint(small) {
    width: 100%;
  }
}

.sub-footer {
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  padding-bottom: 40px;
  font-size: 16px;
  line-height: 24px;

  @include breakpoint(medium) {
    flex-direction: row;
    padding-top: 72px;
    padding-bottom: 38px;
  }

  @include breakpoint(large) {
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 40px !important;
  }

  .copyright {
    margin-right: 80px;

    @include breakpoint(small) {
      margin-right: 0px;
      margin-bottom: 24px;
    }

    @include breakpoint(medium) {
      margin-right: 32px;
    }
  }

  .social {
    display: flex;
    align-items: center;
    margin-left: auto;

    @include breakpoint(small) {
      margin-top: -24px;

      .text {
        display: none;
      }
    }

    svg {
      position: relative;
      top: 2px;
      fill: white;
      width: 16px;
      height: 16px;

      @include breakpoint(small) {
        top: 0px;
        width: auto;
        height: auto;
      }
    }

    .text,
    a {
      margin-right: 16px;
      color: white;

      &:last-child {
        margin-right: 0px;
      }
    }
  }
}
