/** @format */
@import '@arcane-web/alchemy/lib/base/breakpoint';
@import '@arcane-web/alchemy/lib/base/space';

footer {
  background-color: var(--footer-background);
  color: var(--footer-color);
  flex: 0;
  & svg {
    filter: invert(1);
    fill: var(--footer-color);
  }
}

#footer-logo {
  fill: var(--footer-color);
}

.footer-text {
  padding-bottom: $space-16;
}

.footer-link {
  color: var(--link-contrast-color);
}

.footer-follow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
