---
import * as Components from '@arcane-web/alchemy-astro';
---

<html>
  <body>
    <Components.Heading>Welcome to Arcane</Components.Heading>
  </body>
</html>

<style>
  h1 {
    color: orange;
  }
</style>
