---
import { DefaultLayout } from '@arcane-web/arcane-core/layouts';
---

<DefaultLayout title="Invest" description="Arcane Invest Child app">
  <section class="margin-48">
    <div class="container align-center">
      <h1
        ><b>Build generational wealth with our actively managed crypto fund.</b>
      </h1>
    </div>
  </section>
  <section class="margin-48">
    <div id="apology-message" class="container" data-auto-grid="2">
      <div class="space-8"> Platform</div>
      <div class="space-8 align-vertical"
        ><h1>The fund. </h1>
        <h4 class="secondary-text"
          >Get managed exposure to cryptocurrencies as an asset class.
        </h4>
      </div>
    </div>
  </section>
</DefaultLayout>

<style is:inline lang="scss">
  .onboarding-tab {
    display: none;
  }
</style>
