---
import { DefaultLayout, Header, Footer } from '@arcane-web/alchemy-astro';
import ThemeToggle from '../components/ThemeToggle';
import Authentication from '../components/Authentication';
import Navigation from '../components/Navigation';
---

<DefaultLayout title="Platform">
  <Header slot="header">
    <Navigation slot="navigation" />
    <ThemeToggle client:visible slot="theme" />
    <Authentication client:visible slot="auth" />
  </Header>
  <div slot="main">
    <section class="margin-48">
      <div class="container">
        <h1>Arcane <em>landing page</em></h1><br />
      </div>
    </section>
  </div>
  <Footer slot="footer">
    <div slot="content">hello</div>
  </Footer>
</DefaultLayout>
