---
/**
 * @ Author: Joel D'Souza
 * @ Create Time: 2022-05-09 14:25:57
 * @ Modified by: Joel D'Souza
 * @ Modified time: 2022-05-09 14:29:26
 * @ Description: arcane main entry page
 */

---
<html>
  <body>
    <h1>Hello, Arcane!</h1>
  </body>
</html>
<style>
  h1 {
    color: orange;
    
  }
</style>