---
import '../assets/scss/globals.scss';
import { SEO } from 'astro-seo';
export interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<html lang="en" dir="ltr">
  <head>
    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100&display=swap"
      rel="stylesheet"
    />
    <SEO {title} {description} />
  </head>
  <body>
    <slot />
  </body>
</html>

<style lang="scss" is:global>
  html,
  body {
    height: 100%;
    overflow-x: hidden;
  }
</style>
