---

export interface Props {
  title: string;
  description: string;
  canonical?: string;
}
const { title, description, canonical } = Astro.props;
---

<html lang="en" dir="ltr">
  <head>
    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100&display=swap"
      rel="stylesheet"
    />
  {title ? <title set:html={title}></title> : null}
  <link rel="canonical" href={canonical || Astro.canonicalURL.href} />
  {description ? <meta name="description" content={description} /> : null}
  </head>
  <body>
    <slot />
  </body>
</html>

<style lang="scss" is:global>
  @import '@arcane-web/alchemy/lib/core';
  html,
  body {
    height: 100%;
    overflow-x: hidden;
  }
</style>
