/** @format */

@import '@arcane-web/alchemy/lib/base/border';
@import '@arcane-web/alchemy/lib/base/breakpoint';
@import '@arcane-web/alchemy/lib/base/elevation';
@import '@arcane-web/alchemy/lib/base/size';
@import '@arcane-web/alchemy/lib/base/space';

.menu-container {
  width: 50px;
  position: relative;
  cursor: pointer;
  margin-right: $space-16;
  transition: all 1ms ease-in-out;
}

.menu {
  position: absolute;
  visibility: hidden;
  padding: $space-24;
  transform: translateX(-72%);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $space-16;
  background-color: var(--background);
  @include radius-small;
  @include elevation-200;
}

[data-is-closed='false'] .menu-btn:before {
  content: '';
  background-color: var(--primary-200);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  display: block;
  z-index: -10;
}

[data-is-closed='true'] .circle-hover:hover:before {
  content: '';
  background-color: var(--primary-100);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  display: block;
  z-index: -10;
  cursor: pointer;
}

.divider {
  height: $space-2;
  background-color: var(--divider);
}

.app-nav {
  @include radius-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  &:hover {
    opacity: 1 !important;
  }
}

.app-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.app-nav-link {
  margin: 0;
  > img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.current-route {
  opacity: 0.4;
}

/* ----------------- SCROLLBAR -------------- */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-200);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-300);
}
