/** @format */
@import '@arcane-web/alchemy/lib/base/space';

.onboarding-survey {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.onboarding-survey-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $space-16;
  // TODO: @xavier not in 8 point grid system.
  padding-bottom: 40px;
  padding-top: $space-64;

  // TODO: @xavier not in the 8 point grid system.
  > img {
    width: 40px;
    height: 40px;
  }
}

.onboarding-survey-content {
  padding-right: $space-64;
  padding-left: $space-64;
  padding-bottom: $space-24;
}

.onboarding-survey-action {
  padding-right: $space-64;
  padding-left: $space-64;
  // TODO: @xavier arbitary number.
  padding-bottom: $space-32;
}

.onboarding-survey-text {
  max-height: 176px;
  width: 100%;
  overflow-y: scroll;
}

.onboarding-survey-questions {
  width: 83px;
  display: flex;
  flex-direction: column;
  gap: $space-16;
}

.onboarding-survey-footer {
  padding-bottom: $space-32;
  display: flex;
  justify-content: flex-end;
  gap: $space-24;
  padding-right: $space-24;
}
