---
import * as Layouts from '@arcane-web/arcane-layouts';
---

<Layouts.DefaultLayout title="Trade">
  <section class="margin-48">
    <div class="container">
      <h1>Search</h1>
    </div>
  </section>
  <section class="margin-48">
    <div id="trade-app" class="container"><h1>Research</h1> </div>
  </section>
</Layouts.DefaultLayout>
