---
import { DefaultLayout } from '@arcane-web/arcane-core/layouts';
---

<DefaultLayout title="Invest" description="Arcane Invest Child app">
  <section class="margin-48">
    <div class="container">
      <h1>Search</h1>
    </div>
  </section>
  <section class="margin-48">
    <div id="trade-app" class="container"><h1>Research</h1> </div>
  </section>
</DefaultLayout>
