---
import Logo from './Logo.astro';
import Navigation from './Navigation.astro';
---

<header role="banner">
  <div class="container align-row margin-12">
    <Logo data-animation="pop-up" data-animation-delay="1s" svgId="header-logo"
    />
    <div style="flex-grow: 1;"></div>
    <div id="menu-container" class="menu-container" data-is-closed="true">
      <div id="menu-btn" class="menu-btn circle-hover">
        <abbr class="clear-df-abbr" title="Google applications">
          <svg viewBox="0 0 24 24">
            <path
              d="M6,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM16,6c0,1.1 0.9,2 2,2s2,-0.9 2,-2 -0.9,-2 -2,-2 -2,0.9 -2,2zM12,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2z"
            ></path>
          </svg>
        </abbr>
      </div>
      <div id="menu" class="menu margin-12"> <Navigation /></div>
    </div>
    <slot />
  </div>
</header>

<script is:inline>
  document.addEventListener('DOMContentLoaded', main);

  function main() {
    document.addEventListener('click', handleBgClick);

    const menuContainer = document.querySelector('#menu-container');
    const isMenuClosedAttrName = 'data-is-closed';

    const menuBtn = document.querySelector('#menu-btn');
    const menu = document.querySelector('#menu');

    menuBtn.addEventListener('click', toggleMenu);
    menuBtn.addEventListener('click', preventDefault);

    menu.addEventListener('click');

    function preventDefault(e) {
      e.preventDefault();
    }

    function toggleMenu(e) {
      const isMenuClosed = menuContainer.getAttribute(isMenuClosedAttrName);
      if (isMenuClosed === 'true') {
        openMenu();
      } else {
        closeMenu();
      }
    }

    function openMenu() {
      menu.scrollTop = 0;
      menuContainer.setAttribute(isMenuClosedAttrName, 'false');
    }

    function closeMenu() {
      menuContainer.setAttribute(isMenuClosedAttrName, 'true');
    }

    //   Click on background closes menu.
    function handleBgClick(e) {
      const wentEventNotThroughMenu = !e.path.includes(menu);
      const wentEventNotThroughMenuBtn = !e.path.includes(menuBtn);
      if (wentEventNotThroughMenu && wentEventNotThroughMenuBtn) {
        closeMenu();
      }
    }
  }
</script>

<style lang="scss" is:global>
  @use '../assets/scss/base/border' as *;
  @use '../assets/scss/base/breakpoint' as *;
  @use '../assets/scss/base/elevation' as *;
  @use '../assets/scss/base/outline' as *;
  @use '../assets/scss/base/size' as *;
  @use '../assets/scss/base/space' as *;
  header {
    height: var(--header-height) !important;
    width: 100%;
    background-color: var(--header-background);
    position: sticky;
    top: 0;
  }

  #header-logo {
    fill: var(--font-color);
  }

  /**
   * navigation
   */

  .menu-container {
    width: 30px;
    position: relative;
    cursor: pointer;
    margin-right: $space-16;
    transition: all 1ms ease-in-out;
  }

  .menu {
    position: absolute;
    padding: $space-16;
    transform: translateX(-50%);
    overflow-y: scroll;
    background-color: var(--background);
    @include radius-large;
    @include elevation-300;
  }

  .menu-btn > svg {
    text-align: center;
    height: $space-4;
    width: $space-4;
    position: relative;
    display: block;
    color: var(--primary-500);
  }

  [data-is-closed='false'] .menu-btn:before {
    content: '';
    background-color: var(--primary-200);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.5);
    display: block;
    z-index: -10;
  }

  [data-is-closed='true'] .circle-hover:hover:before {
    content: '';
    background-color: var(--primary-100);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.5);
    display: block;
    z-index: -10;
    cursor: pointer;
  }

  [data-is-closed='true'] .menu {
    display: none;
  }

  .divider {
    height: $space-2;
    background-color: var(--divider);
  }

  /* ----------------- SCROLLBAR -------------- */

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-200);
    border-radius: 8px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-300);
  }
</style>
