/** @format */
@import '@arcane-web/alchemy/lib/base/border';
@import '@arcane-web/alchemy/lib/base/breakpoint';
@import '@arcane-web/alchemy/lib/base/elevation';
@import '@arcane-web/alchemy/lib/base/size';
@import '@arcane-web/alchemy/lib/base/space';

.custom .solid-select-input {
  min-width: $space-8;
}
.custom .solid-select-container {
  @include radius-small;
  @include border-small(var(--primary-400));
  z-index: 15;
  color: var(--font-color);
}
.custom .solid-select-control {
  @include radius-small;
  padding: $space-8;
}
.custom .solid-select-placeholder {
  padding: $space-8;
  background-color: var(--background);
  @include radius-small;
  @include border-small(var(--primary-400));
}
.custom .solid-select-option:hover {
  background-color: var(--selection-background);
  color: var(--selection-color);
}

.custom .solid-select-list {
  background-color: var(--background);
  z-index: 15;
}

.customer-form-node {
  height: 400px;
  overflow-y: scroll;

  @include breakpoint(medium) {
    height: 300px !important;
    overflow-y: scroll;
  }
}

.customer-node {
  width: 100% !important;
  @include breakpoint(medium) {
    width: 600px;
    height: 100%;
  }
}

.customer-text-form {
  @include breakpoint(medium) {
    display: flex;
    flex-direction: row;
  }
}
