---
export interface Props {
  brand: string;
}

const { brand } = Astro.props;
---

<header>
  <h1>{brand}</h1>
</header>

<style>
  header {
    z-index: 11;
    height: var(--theme-navbar-height);
    width: 100%;
    background-color: var(--theme-navbar-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: sticky;
    top: 0;
  }
</style>
