---
import Logo from './Logo.astro';
---

<footer>
  <div class="container align-row margin-48 gap-big">
    <div><Logo svgId="footer-logo" /></div>
    <div style="flex-grow: 1;"></div>

    <div>
      <h5>Navigation</h5>
      <nav id="arcane-application-navigation" class="align-vertical">
        <a class="third after" href="/trade">Trade</a>
        <a class="third after" href="/invest">Invest</a>
        <a class="third after" href="/research">Research</a>
      </nav>
    </div>
    <div>
      <h5>Company</h5>
      <nav id="arcane-static" class="align-vertical">
        <a class="third after" href="/people">People</a>
        <a class="third after" href="/relations">Investor Relations</a>
        <a class="third after" href="/privacy">Privacy</a>
      </nav>
    </div>
  </div>

  <hr />
  <div class="container align-row margin-12 gap-big">
    <p>© All rights reserved to Arcane.</p>
    <p>Made with ❤️ in Norway</p>
    <div style="flex-grow: 1;"></div>
    <div>Follow us</div>
  </div>
</footer>

<style lang="scss" is:inline>
  footer {
    background-color: var(--footer-background);
    color: var(--footer-color);
  }

  #footer-logo {
    fill: var(--footer-color);
  }
</style>
