<nav class="gap-small" data-auto-grid="2">
  <div class="item">
    <img src="https://www.arcane.no/favicon.png" />
    <span class="caption">Trade</span>
  </div>
</nav>

<style lang="scss" is:inline>
  div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
  }
  img {
    width: 60px;
    height: 60px;
  }
  .caption {
    display: block;
  }
</style>
