---
// TODO: update it to an api call when the time comes
import apps from '../registry/apps.json';
---

<nav class="gap-small" data-auto-grid="2">
  {apps.map(app => (
    <div class="app-nav"><a href={app.source}><img src={app.logo} alt={`${app.name} logo`}/> </a><p class="description">{app.name}</p></div>
    ))}
</nav>

<style is:inline>
  .app-nav {
    width: 60px;
    text-align: center;
  }

  .app-nav > a {
    z-index: 999;
  }
</style>
