<nav class="gap-small" data-auto-grid="2">
  <img src="https://www.arcane.no/favicon.png" alt="lah" />
  <a class="third after" href="/trade">Trade</a>
  <a class="third after" href="/invest">Invest</a>
  <a class="third after" href="/research">Research</a>
</nav>
