---
// TODO: update it to an api call when the time comes
import apps from '../registry/apps.json';
---

<nav class="gap-small" data-auto-grid="2">
  {apps.map(app => (
    <div class="app-nav"><a href={app.source} target="_blank"> <img src={app.logo} alt={`${app.name} logo`}/> <p class="description">{app.name}</p></a></div>
    ))}
</nav>

<style lang="scss" is:inline>
  .app-nav {
    width: 60px;
    text-align: center;
  }
</style>
