/** @format */
@import '@arcane-web/alchemy/lib/base/space';
@import '@arcane-web/alchemy/lib/base/breakpoint';

.modal-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.multi-button {
  background-color: #aeaeb2;
  border-radius: 10px;
  color: #ffffff;
  border-radius: 4px;
}

.multi-button_button {
  border: none;
  cursor: pointer;
  padding: $space-12;
  color: #ffffff;
  transition: background 0.2s ease-in-out;
  background-color: #2d3339;
  &:disabled {
    opacity: 0.4;
  }
}

.multi-button_button:focus {
  box-shadow: 0px 0px 7px #5ac8fa;
}

.multi-button_button:hover {
  background-color: #2d3339;
  color: #ffffff;
}

.multi-button_button:first-child {
  border-radius: 8px 0px 0px 8px;
}

.multi-button_button:last-child {
  border-radius: 0px 8px 8px 0px;
}

.multi-button_button:first-child,
.multi-button_button:last-child {
  transition: none;
  position: relative;
  overflow: hidden;
}

.multi-button_button:first-child:hover,
.multi-button_button:last-child:hover {
  opacity: 0.2;
}

.multi-button_button:first-child::after,
.multi-button_button:last-child::after {
  content: '';
  top: 0;
}

.multi-button_button:first-child::after {
}

.multi-button_button:last-child::after {
}

.multi-button_button:first-child:hover::after {
  right: 0;
}

.multi-button_button:last-child:hover::after {
  left: 0;
}
