/** @format */
@import '@arcane-web/alchemy/lib/base/space';

.onboarding-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.onboarding-welcome-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $space-16;
  // TODO: @xavier not in 8 point grid system.
  padding-bottom: 40px;
  padding-top: 80px;

  // TODO: @xavier not in the 8 point grid system.
  > img {
    width: 72px;
    height: 72px;
  }
}

.onboarding-welcome-content {
  padding-right: $space-64;
  padding-left: $space-64;
  padding-bottom: $space-24;
}

.onboarding-welcome-action {
  padding-right: $space-64;
  padding-left: $space-64;
  padding-bottom: 80px;
  width: 100%;
}
