---
import * as Layouts from '@arcane-web/arcane-layouts';
import { Trade } from '../components';
---

<Layouts.DashboardLayout title="Trade">
  <section class="margin-48">
    <div class="container">
      <h1>Users</h1>
    </div>
  </section>
  <section class="margin-48">
    <div id="trade-app" class="container"
      ><Trade client:only="solid-js" />
    </div>
  </section>
</Layouts.DashboardLayout>
