---
import Header from '../components/Header.astro';
import Head from '../components/Head.astro';
export interface Props {
  title: string;
  brand: string;
}

const { title, brand } = Astro.props;
---

<html class="initial">
  <Head />
  <title>{title}</title>
  <body> <Header>Hello world</Header></body>
</html>
