/** @format */
@import '@arcane-web/alchemy/lib/base/space';
@import '@arcane-web/alchemy/lib/base/border';
@import '@arcane-web/alchemy/lib/base/border';

.arcane-progress {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  height: 100%;
  > label {
    flex: 1;
  }
}
