/** @format */
@import '@arcane-web/alchemy/lib/base/space';
@import '@arcane-web/alchemy/lib/base/border';
@import '@arcane-web/alchemy/lib/base/border';

.arcane-progress {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  > label {
    flex: 1;
  }
  > progress {
    border: 0;
    height: $space-8;
    @include radius-large;
  }
  > progress::-webkit-progress-bar {
    border: 0;
    height: $space-8;
    @include radius-large;
  }
  > progress::-webkit-progress-value {
    border: 0;
    height: $space-8;
    @include radius-large;
  }
  > progress::-moz-progress-bar {
    border: 0;
    height: $space-8;
    @include radius-large;
  }
}
