/** @format */
@import '@arcane-web/alchemy/lib/base/space';
@import '@arcane-web/alchemy/lib/base/border';
@import '@arcane-web/alchemy/lib/base/border';

.arcane-progress {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  height: 100%;
  > label {
    flex: 1;
  }

  > progress {
    -webkit-appearance: none;
    appearance: none;
    width: 160px;
    height: $space-8;
    @include radius-small;
  }

  > progress[value]::-webkit-progress-bar {
    background-color: #f2f2f7;
    @include radius-small;
  }

  > progress[value]::-webkit-progress-value {
    background-color: #2d3339;
    @include radius-small;
  }
}
