---
import Main from '../layouts/Main.astro';
import { Info, Donut } from '../components';
---

<Main>
  <div slot="main" class="margin-top-48">
    <h1>Investor Dashboard</h1>
    <div id="invest-stats" class="margin-top-32" data-auto-grid="2">
      <div id="invest-home-info-cards" class="gap-small" data-auto-grid="2">
        <Info
          title="$16m"
          variant="secondary"
          description="Assets Under Management"
        />
        <Info title="55%" description="Bitcoin Holdings" />
        <Info title="25%" description="Fund Performance YTD" />
        <Info
          title="8%"
          variant="secondary"
          description="Fund Performance x Benchmark YTD"
        />
      </div>
      <div id="invest-chart">
        <Donut
          value={'35%'}
          title={'Usage overview'}
          data={{
            Bitcoin: { value: 35, color: '#090A0B' },
            Etherium: { value: 15, color: '#5AC8FA' },
            Dodegcoin: { value: 20, color: '#5856D6' },
            Solano: { value: 30, color: '#AEAEB2' },
          }}
          client:load
        />
      </div>
    </div>
    <div></div>
  </div>
</Main>
