---
import Invest from '../components/invest/Invest.astro';
import { Button } from '@arcane-web/alchemy';
import client from '../contentful.config';
import { OnboardingNodes } from '../types';
import { Onboarding } from '../components';
import CountriesList from '../components/CountriesList.astro';
import * as Layouts from '@arcane-web/arcane-layouts';

// yay top level awaits
const contents: OnboardingNodes = (await client
  .getEntries()
  .then((entries) => entries.items)
  .then((items) => items.map((item) => item.fields))
  .then((items) => items)) as OnboardingNodes;
---

<Layouts.DefaultLayout title="Invest">
  <section class="margin-48">
    <div class="container align-center">
      <h1
        ><b>Build generational wealth with our actively managed crypto fund.</b
        ></h1
      >
    </div>
  </section>
  <section class="margin-48">
    <div id="apology-message" class="container" data-auto-grid="2">
      <div class="space-8"> <Invest /> </div>
      <div class="space-8 align-vertical"
        ><h1>The fund. </h1>
        <h4 class="secondary-text"
          >Get managed exposure to cryptocurrencies as an asset class.
        </h4>
        <div class="margin-top-16"
          ><Button type="button" variant="primary">Go To Research</Button></div
        >
      </div>
    </div>
  </section>
  <Onboarding client:visible questions={contents} />
  <CountriesList />
</Layouts.DefaultLayout>

<style is:inline lang="scss">
  .onboarding-tab {
    display: none;
  }
</style>
