---
/**
 * @ Author: Joel D'Souza
 * @ Create Time: 2022-05-09 12:46:06
 * @ Modified by: Joel D'Souza
 * @ Modified time: 2022-05-10 22:59:17
 * @ Description: index folder for astrojs
 */

//TODO: connect arcane-flow to arcane-state
//TODO: build configuration and next function at build time and pass it CSR react from component
//TODO: try to not load component in arcane-flow but only get the route string and map it to component here.
console.log(import.meta.env);
---

<html>
  <body>
    <h1>Hello, World!</h1>
  </body>
</html>

<style>
  h1 {
    color: orange;
  }
</style>
