---
import Invest from '../components/invest/Invest.astro';
import { investClient } from '../contentful.config';
import { OnboardingNodes } from '../types';
import { AuthOnboarding } from '../components';
import CountriesList from '../components/CountriesList.astro';
import { DefaultLayout } from '@arcane-web/arcane-core/layouts';
import { Authentication } from '@arcane-web/arcane-components';
import firebaseConfig from '../firebase.config';

// yay top level awaits
const contents: OnboardingNodes = (await investClient
  .getEntries()
  .then((entries) => entries.items)
  .then((items) => items.map((item) => item.fields))
  .then((items) => items)) as OnboardingNodes;
---

<DefaultLayout title="Invest" description="Arcane Invest Child app">
  <Authentication client:load slot="auth" />
  <section class="margin-48">
    <div class="container align-center">
      <h1
        ><b>Build generational wealth with our actively managed crypto fund.</b>
      </h1>
    </div>
  </section>
  <section class="margin-48">
    <div id="apology-message" class="container" data-auto-grid="2">
      <div class="space-8"> <Invest /> </div>
      <div class="space-8 align-vertical"
        ><h1>The fund. </h1>
        <h4 class="secondary-text"
          >Get managed exposure to cryptocurrencies as an asset class.
        </h4>
        <div class="margin-top-16">
          <AuthOnboarding
            config={firebaseConfig}
            questions={contents}
            client:load
          />
        </div>
      </div>
    </div>
  </section>
  <CountriesList />
</DefaultLayout>

<style is:global>
  .onboarding-tab {
    display: none;
  }
</style>
