---
import Main from '../layouts/Main.astro';
import client from '../contentful.config';
import { Onboarding, OnboardingNodes } from '../components';

// yay top level awaits
const contents: OnboardingNodes = (await client
  .getEntries()
  .then((entries) => entries.items)
  .then((items) => items.map((item) => item.fields))
  .then((items) => items)) as OnboardingNodes;
---

<Main>
  <div class="space-32 radius-large elevation-500" slot="main"
    ><Onboarding client:visible nodes={contents} /></div
  >
</Main>
