---
import Main from '../layouts/Main.astro';
import client from '../contentful.config';
import { OnboardingNodes } from '../types';
import { Onboarding } from '../components';
import CountriesList from '../components/CountriesList.astro';
import { Modal } from '@arcane-web/alchemy';
import { Icon } from 'astro-icon';

// yay top level awaits
const contents: OnboardingNodes = (await client
  .getEntries()
  .then((entries) => entries.items)
  .then((items) => items.map((item) => item.fields))
  .then((items) => items)) as OnboardingNodes;
---

<Main>
  <div slot="main">
    <Onboarding client:visible questions={contents} />
  </div>
</Main>

<style is:inline lang="scss">
  .onboarding-tab {
    display: none;
  }

  .survey-questions {
    
  }
</style>
