---
import Main from '../layouts/Main.astro';
import client from '../contentful.config';
import { Countries, OnboardingNodes } from '../types';
import { Onboarding } from '../components';
import { Dialog, Button } from '@arcane-web/alchemy';

// yay top level awaits
const contents: OnboardingNodes = (await client
  .getEntries()
  .then((entries) => entries.items)
  .then((items) => items.map((item) => item.fields))
  .then((items) => items)) as OnboardingNodes;

const residences: Countries = await fetch('https://restcountries.com/v3.1/all')
  .then((d) => d.json())
  .then((countries) =>
    countries.map((country) => ({
      name: country.name.official,
      flag: country.flag,
    }))
  );
---

<Main>
  <div slot="main">
    <Dialog client:load id="dialog">
      <Onboarding client:load questions={contents} countries={residences} />
      <form method="dialog">
        <Button>Cancel</Button>
      </form>
    </Dialog>
  </div>
</Main>

<script> window.dialog.showModal(); </script>
