---
import Main from '../layouts/Main.astro';
import client from '../contentful.config';
import { OnboardingNodes } from '../types';
import { Onboarding } from '../components';
import CountriesList from '../components/CountriesList.astro';
import { Dialog } from '@arcane-web/alchemy';

// yay top level awaits
const contents: OnboardingNodes = (await client
  .getEntries()
  .then((entries) => entries.items)
  .then((items) => items.map((item) => item.fields))
  .then((items) => items)) as OnboardingNodes;
---

<Main>
  <div slot="main">
    <button onclick="window.dialog.showModal();">open dialog</button>
    <Dialog client:load id="dialog">
      <Onboarding client:visible questions={contents} />
    </Dialog>
    <CountriesList />
  </div>
</Main>

<style is:inline>
  .onboarding-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .onboarding-tabs {
    flex-grow: 1;
  }
  .onboarding-actions {
    width: 100%;
  }

  .onboarding-tab {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
</style>
