---
import Main from '../layouts/Main.astro';
import client from '../contentful.config';
import { OnboardingNodes } from '../types';
import { Onboarding } from '../components';
import CountriesList from '../components/CountriesList.astro';
import { Dialog } from '@arcane-web/alchemy';

// yay top level awaits
const contents: OnboardingNodes = (await client
  .getEntries()
  .then((entries) => entries.items)
  .then((items) => items.map((item) => item.fields))
  .then((items) => items)) as OnboardingNodes;
---

<Main>
  <div slot="main">
    <Dialog id="dialog" open>
      <Onboarding client:visible questions={contents} />
    </Dialog>
    <CountriesList />
  </div>
</Main>
