---
const currentYear = new Date().getFullYear();
---

<footer>
  <section class="padding-16">
    <div class="container">
      <slot name="footer-content" />
    </div>
  </section>
</footer>

<style lang="scss" is:inline>
  footer {
    background-color: var(--footer-background);
    color: var(--footer-color);
  }
</style>
