<footer class="padding-48">
  <div class="container">
    <slot name="content" />
  </div>
</footer>

<style lang="scss">
  footer {
    background-color: var(--footer-background);
    color: var(--footer-color);
  }
</style>
