---
import Logo from './Logo.astro';
import ThemeToggle from './ThemeToggle.tsx';
---

<header role="banner" class="padding-12">
  <div class="container" data-auto-grid="3">
    <Logo />
    <slot name="navigation" />
    <ThemeToggle client:visible />
  </div>
</header>

<style lang="scss">
  header {
    background-color: var(--header-background);
    position: sticky;
    > .div {
      align-items: center;
    }
  }
</style>
