---
import Logo from './Logo.astro';
---

<header class="padding-12">
  <div class="container">
    <Logo />
    <slot name="navigation" />
  </div>
</header>

<style lang="scss">
  header {
    background-color: var(--header-background);
    position: sticky;
  }
</style>
