---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Arcane from './Arcane.astro';
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<Arcane title={`Arcane | ${title}`} {description}>
  <Header />
  <main id='main-content'>
    <slot></slot>
  </main>
  <Footer />
</Arcane>

<style lang='scss' is:global>
  body {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    main {
      flex: 1 0 auto;
    }
    footer {
      flex-shrink: 0;
    }
  }
</style>
