---
import * as Layouts from '@arcane-web/arcane-layouts';
import * as Components from '@arcane-web/arcane-components';
---

<Layouts.DefaultLayout title="Invest">
  <Layouts.Header slot="header">
    <Components.Navigation slot="navigation" />
    <Components.ThemeToggle client:visible slot="theme" />
    <Components.Authentication client:visible slot="auth" />
  </Layouts.Header>
  <div slot="main">
    <section class="margin-48">
      <div class="container">
        <slot name="main" />
      </div>
    </section>
  </div>
  <Layouts.Footer slot="footer">
    <div slot="content">TODO: get from contentful</div>
  </Layouts.Footer>
</Layouts.DefaultLayout>
